$bg-colour: #4D394B;
$typeface-main: Lato, sans-serif;
$padding: 10px;

$break-small: 480px;

body {
	color: #fff;
	background: $bg-colour;
	font-family: $typeface-main;
}
a {
	color: #aaa;
}

#contact {
	font-family: Arimo, sans-serif;
	text-align: right;
	box-sizing: border-box;
	transition: all 1s;
	padding: $padding;
	position: absolute;
	top: 20px;
	right: 20px;
	@media screen and (max-width: $break-small) {
		text-align: center;
    	display: block;
    	width: 100%;
    	right:0;
	}
}

#center-block {
	text-align: center;
}

#icon {
	//margin: 0 auto;
	img {
		width: 210px;
		height:auto;
		max-width: 60%;
	}

}

#tagline {
	font-weight: normal;
	font-size: 2.8em;
	@media screen and (max-width: $break-small) {
		font-size: 1.9em;
	}
}

.app_store_badge{
	height: 50px;
	width: auto;
	margin: $padding;
	&.coming_soon{
		opacity: .5;
	}
}