$bg-colour: #4D394B;
$typeface-main: Lato, sans-serif;
$padding: 10px;

$break-small: 480px;

body {
	color: #fff;
	background: $bg-colour;
	font-family: $typeface-main;
}

#contact {
	font-family: Arimo, sans-serif;
	text-align: right;
	padding: $padding;
	position: absolute;
	top: 20px;
	right: 20px;
}

#center-block {
	text-align: center;
}

#icon {
	margin: 0 auto;
	width: 250px;
	height: 250px;
	// cursor: pointer;

	background: top center no-repeat transparent url('../img/icon.png');
	background-size: cover;
}

#tagline {
	font-weight: normal;
	font-size: 2.8em;
	@media screen and (max-width: $break-small) {
		font-size: 1.9em;
	}
}

.app_store_badge{
	height: 50px;
	width: auto;
	margin: $padding;
	&.coming_soon{
		opacity: .5;
	}
}