body {
  color: #fff;
  background: #4D394B;
  font-family: Lato, sans-serif; }

#contact {
  font-family: Arimo, sans-serif;
  text-align: right;
  padding: 10px; }

#center-block {
  text-align: center; }

#icon {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: top center no-repeat transparent url("../img/icon.png");
  background-size: cover; }

#tagline {
  font-weight: normal;
  font-size: 2.8em; }

.app_store_badge {
  height: 50px;
  width: auto;
  margin: 10px; }
